<div class="col-sm-9">
  <h2>Events</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Details</th>
        <% if can? :manage, @timeline %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <%= render events %>
    </tbody>
  </table>
</div>