<% content_for :title, @timeline.title %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <%= link_to 'Timeline', @timeline %>
  </li>
  <li role="presentation">
    <%= link_to 'Events', timeline_categories_path(@timeline) %>
  </li>
  <li role="presentation">
    <%= link_to 'Eras', timeline_eras_path(@timeline) %>
  </li>
</ul>

<%= simple_format @timeline.body %>


