<% content_for :title, "#{@timeline.title}: #{@category.title}" %>
<% if can? :manage, @timeline %>
  <% content_for :toolbar do %>
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-default' %>
    <%= link_to 'Delete', @category, method: 'delete', class: 'btn btn-danger' %>
  <% end %>
<% end %>

<div class="row">
  <%= render 'categories/sidebar', timeline: @timeline %>
  <%= render 'events/table', events: @events %>
</div>

